@import url('https://fonts.googleapis.com/css?family=Pacifico|Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', 'century gothic', sans-serif;
}

span#logo {
  font-family: 'Pacifico', cursive;
  font-style: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
  position: fixed;
  background-color: white;
  width: 100vw;
  border-bottom: 0.8px solid #ddd;
}

header ul li {
  display: inline-block;
  color: #222;
  padding: 5px;
  transition: all 0.4s ease-in;
}

header ul li:hover {
  color: #e7a515;
  cursor: pointer;
}

header button {
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background-color: #e7a515;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

header button:hover {
  background-color: #be8f27;
}

main {
  padding-top: 10vh;
}

/* container-grid style below */
.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(9, minmax(200px, 1fr));
  height: 100vh;
  grid-gap: 10px;
  padding: 30px, 8%;
}

.modal-items:nth-child(1) {
  background-color: tomato;
}

.modal-items:nth-child(2) {
  background-color: teal;
}

.modal-items:nth-child(3) {
  background-color: rgb(158, 107, 13);
}

.modal-items:nth-child(4) {
  background-color: olive;
}

.modal-items:nth-child(5) {
  background-color: hotpink;
}

.modal-items:nth-child(6) {
  background-color: grey;
}

.modal-items:nth-child(7) {
  background-color: rgb(184, 29, 68);
}
.modal-items:nth-child(8) {
  background-color: saddlebrown;
}
.modal-items:nth-child(9) {
  background-color: purple;
}

footer {
  padding: 10px, 8%;
  text-align: center;
  border-top: 0.8px solid #ddd;
  background-color: white;
}

footer ul li {
  display: inline-block;
  padding: 5px;
  transition: all 0.4s ease-in;
}

footer ul li:hover {
  color: #e7a515;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .social {
    display: none;
  }

  footer {
    position: relative;
    bottom: -162vh;
  }
}
